@inject IReadJson _readJson;
@rendermode InteractiveServer

@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@
@* @attribute [StreamRendering(true)] *@


<div class="vg-page page-about pt-3 pb-0" id="history"> 
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 wow fadeInRight">
                <h2 class="fw-normal">Education</h2>
                <ul class="timeline mt-4 pr-md-5">
                    @foreach(var item in historyMessage.EducationHistory)
                    {
                        <li>
                            <div class="title">@item.Year</div>
                            <div class="details">
                                <h5>@item.Title</h5>
                                <small class="fg-theme">@item.PlaceName</small>
                                @if(item.Description.Length > 0)
                                {
                                    <p>@item.Description</p>
                                }                                
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
                <h2 class="fw-normal">Experience</h2>
                <ul class="timeline mt-4 pr-md-5">

                    @foreach (var item in historyMessage.ExperienceHistory)
                    {
                        <li>
                            <div class="title">@item.Year</div>
                            <div class="details">
                                <h5>@item.Title</h5>
                                <small class="fg-theme">@item.PlaceName</small>
                                @if (item.Description.Length > 0)
                                {
                                    <p>@item.Description</p>
                                }
                            </div>
                        </li>
                    }                
                </ul>
            </div>
        </div>
    </div>
</div>


@code {

}
