@inject IReadJson _readJson;


<h1 class="text-center fw-normal wow fadeIn">My Skills</h1>
<div class="row py-3">
    <div class="col-md-6">
        <div class="px-lg-3">
            <h4 class="wow fadeInUp">Coding skills</h4>
            @foreach (var item in skillsMessage.CodingSkills)
            {
                <div class="progress-wrapper wow fadeInUp">
                    <span class="caption">@item.Skill</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @item.Level%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">@item.Level%</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="px-lg-3">
            <h4 class="wow fadeInUp">Design Skills</h4>
            @foreach (var item in skillsMessage.DesignSkills)
            {
                <div class="progress-wrapper wow fadeInUp">
                    <span class="caption">@item.Skill</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @item.Level%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">@item.Level%</div>
                    </div>
                </div>
            }                   
        </div>
    </div>
</div>


@code {

}
